<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>{{pageTitlee}}</title>
    </head>
      {{> header}}
       <body>
           <h1>{{welcome}}</h1>
           <p>{{copyf}}</p>
       </body> 

       {{> footer}}
</html>